Source: ros-hydro-maggie-motor-drivers
Section: misc
Priority: extra
Maintainer: Raul Perula-Martinez <raul.perula@uc3m.es>
Build-Depends: debhelper (>= 9.0.0), google-mock, libgtest-dev, ros-hydro-catkin, ros-hydro-roscpp, ros-hydro-sr-communications
Homepage: http://wiki.ros.org/maggie_motor_drivers
Standards-Version: 3.9.2

Package: ros-hydro-maggie-motor-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-roscpp, ros-hydro-sr-communications
Description: motor drivers for Maggie robot
