Source: ros-hydro-maggie-labjack-drivers
Section: misc
Priority: extra
Maintainer: Raul Perula-Martinez <raul.perula@uc3m.es>
Build-Depends: debhelper (>= 9.0.0), google-mock, libgtest-dev, libusb-1.0-0-dev, ros-hydro-catkin, ros-hydro-roscpp, unzip
Homepage: http://wiki.ros.org/maggie_labjack_drivers
Standards-Version: 3.9.2

Package: ros-hydro-maggie-labjack-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0-dev, ros-hydro-roscpp, unzip
Description: labjack drivers for Maggie robot
